{% extends "app/layout.html" %}

{% block content %}

<head>
    <style>
        h2,
        h4 {

            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
    </style>
</head>


<h2>Group 8 Purchasing System</h2>
<br>
<h4>The Purchasing System supports a company in the process of receiving quotations from vendors, evaluating them, and
    generating Purchase Orders for inventory. The Purchasing Manager inputs vendor quotations into the system and sends
    them to the Supervisor for review. The Supervisor selects the products and quantities needed and sends the updated
    quotation to the Finance Manager, who generates the Purchase Order. The Manager reviews and approves the Purchase
    Order, which is then sent to the Purchasing Manager for sending to the vendor.</h4>

<p>Sample Django Project.</p>

{% endblock %}