{% extends "app/layout.html" %}

{% block content %}

<h2 style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">{{ title }}.</h2>
<h3 style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">{{ message }}</h3>

<address style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
    Faculty of Computing &amp; Informatics<br />
    Multimedia University<br />
    <abbr title="Phone">P:</abbr>
    03-83125262<br><br>

    Group 8 Members : <br><br>

    Thamizharaasan A/L Chandran<br>
    1201101703@students.mmu.edu.my<br>
    +60 19-552 1627<br><br>

    Lovesh Anand A/L A.Kumereshwaran<br>
    1201101749@students.mmu.edu.my<br>
    +60 18-253 3538<br><br>

    Muhammad Aiman Haziq Bin Fairoshawal<br>
    1201101381@students.mmu.edu.my<br>
    +60 18-950 4018<br><br>

    Nur Irdina Sofea Binti Mohd Mahadir<br>
    1201100486@students.mmu.edu.my<br>
    +60 14-332 4800<br><br>
</address>

{% endblock %}